@model IEnumerable<BlogTrackerApp.Models.BlogModel>

@{
    ViewBag.Title = "BlogPage";
}

<h4>
    @Html.ActionLink("Log out", "BlogHomePage", "Blog", new { area = "" }, null)
</h4>

<h2>List of Blogs</h2>

<p>
    @Html.ActionLink("Add New", "AddaBlog")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpEmailID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpEmailID)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditBlog", new { id = item.BlogID }) |
            @Html.ActionLink("Details", "BlogDetails", new { id = item.BlogID }) |
            @Html.ActionLink("Delete", "DeleteBlog", new { id = item.BlogID })
        </td>
    </tr>
}

</table>
